In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("train_file.csv")
df.head()

,ID,UsageClass,CheckoutType,CheckoutYear,CheckoutMonth,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear,MaterialType
0,1,Physical,Horizon,2005,4,1,Tidal wave,NaN,"Tsunamis, Tsunamis Juvenile literature",NaN,NaN,BOOK
1,2,Physical,Horizon,2005,4,1,London holiday / Richard Peck.,"Peck, Richard, 1934-",NaN,"Viking,",1998.,BOOK
2,3,Physical,Horizon,2005,4,3,Cinco de Mayo : celebrating Hispanic pride / C...,"Gnojewski, Carol",Cinco de Mayo Mexican holiday History Juvenile...,"Enslow Publishers,",c2002.,BOOK
3,4,Physical,Horizon,2005,4,1,Annapolis,NaN,"War stories, Historical fiction, Domestic fict...",NaN,NaN,BOOK
4,5,Physical,Horizon,2005,4,1,As a man thinketh,NaN,Thought and thinking,NaN,NaN,BOOK

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               31653 non-null  int64
 1   UsageClass       31653 non-null  object
 2   CheckoutType     31653 non-null  object
 3   CheckoutYear     31653 non-null  int64
 4   CheckoutMonth    31653 non-null  int64
 5   Checkouts        31653 non-null  int64
 6   Title            31653 non-null  object
 7   Creator          8516 non-null   object
 8   Subjects         29890 non-null  object
 9   Publisher        9737 non-null   object
 10  PublicationYear  9722 non-null   object
 11  MaterialType     31653 non-null  object
dtypes: int64(4), object(8)
memory usage: 2.9+ MB

In [4]:
df.isnull().sum()

ID                     0
UsageClass             0
CheckoutType           0
CheckoutYear           0
CheckoutMonth          0
Checkouts              0
Title                  0
Creator            23137
Subjects            1763
Publisher          21916
PublicationYear    21931
MaterialType           0
dtype: int64

In [5]:
df["CheckoutType"].unique()

array(['Horizon'], dtype=object)

In [6]:
df["UsageClass"].unique()

array(['Physical'], dtype=object)

In [7]:
df["CheckoutYear"].unique()

array([2005], dtype=int64)

In [8]:
df["CheckoutMonth"].unique()

array([4], dtype=int64)

In [9]:
df["Checkouts"]

0         1
1         1
2         3
3         1
4         1
         ..
31648     2
31649     5
31650    12
31651     4
31652     2
Name: Checkouts, Length: 31653, dtype: int64

In [10]:
df = df[~(df.Checkouts > 30)]
df.head()

,ID,UsageClass,CheckoutType,CheckoutYear,CheckoutMonth,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear,MaterialType
0,1,Physical,Horizon,2005,4,1,Tidal wave,NaN,"Tsunamis, Tsunamis Juvenile literature",NaN,NaN,BOOK
1,2,Physical,Horizon,2005,4,1,London holiday / Richard Peck.,"Peck, Richard, 1934-",NaN,"Viking,",1998.,BOOK
2,3,Physical,Horizon,2005,4,3,Cinco de Mayo : celebrating Hispanic pride / C...,"Gnojewski, Carol",Cinco de Mayo Mexican holiday History Juvenile...,"Enslow Publishers,",c2002.,BOOK
3,4,Physical,Horizon,2005,4,1,Annapolis,NaN,"War stories, Historical fiction, Domestic fict...",NaN,NaN,BOOK
4,5,Physical,Horizon,2005,4,1,As a man thinketh,NaN,Thought and thinking,NaN,NaN,BOOK

In [11]:
df.drop(["ID", "UsageClass", "CheckoutType", "CheckoutYear", "PublicationYear", "CheckoutMonth"], axis =1, inplace= True)
df.head()

,Checkouts,Title,Creator,Subjects,Publisher,MaterialType
0,1,Tidal wave,NaN,"Tsunamis, Tsunamis Juvenile literature",NaN,BOOK
1,1,London holiday / Richard Peck.,"Peck, Richard, 1934-",NaN,"Viking,",BOOK
2,3,Cinco de Mayo : celebrating Hispanic pride / C...,"Gnojewski, Carol",Cinco de Mayo Mexican holiday History Juvenile...,"Enslow Publishers,",BOOK
3,1,Annapolis,NaN,"War stories, Historical fiction, Domestic fict...",NaN,BOOK
4,1,As a man thinketh,NaN,Thought and thinking,NaN,BOOK

In [12]:
df.fillna(" ",inplace=True)

In [13]:
df["Checkouts"] = df["Checkouts"].apply(lambda x: str(x))

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31622 entries, 0 to 31652
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Checkouts     31622 non-null  object
 1   Title         31622 non-null  object
 2   Creator       31622 non-null  object
 3   Subjects      31622 non-null  object
 4   Publisher     31622 non-null  object
 5   MaterialType  31622 non-null  object
dtypes: object(6)
memory usage: 1.7+ MB

In [15]:
df1 = df["Checkouts"]+" "+df["Title"]+" "+df["Creator"]+" "+df["Subjects"]+" "+df["Publisher"]

In [16]:
df1.head()

0    1 Tidal wave   Tsunamis, Tsunamis Juvenile lit...
1    1 London holiday / Richard Peck. Peck, Richard...
2    3 Cinco de Mayo : celebrating Hispanic pride /...
3    1 Annapolis   War stories, Historical fiction,...
4         1 As a man thinketh   Thought and thinking
dtype: object

In [17]:
df1 = df1.apply(lambda x: str(x))
df1 = df1.apply(lambda x: x.lower())

In [18]:
X = df1
X.head()

0    1 tidal wave   tsunamis, tsunamis juvenile lit...
1    1 london holiday / richard peck. peck, richard...
2    3 cinco de mayo : celebrating hispanic pride /...
3    1 annapolis   war stories, historical fiction,...
4         1 as a man thinketh   thought and thinking
dtype: object

In [19]:
df.MaterialType.unique()

array(['BOOK', 'SOUNDDISC', 'VIDEOCASS', 'VIDEODISC', 'SOUNDCASS',
       'MUSIC', 'MIXED', 'CR'], dtype=object)

In [20]:
df["MaterialType"] = df["MaterialType"].replace({'BOOK':0, 'SOUNDDISC':1, 'VIDEOCASS':2, 'VIDEODISC':3, 'SOUNDCASS':4, 'MUSIC':5, 'MIXED':6, 'CR':7})

In [21]:
y = df["MaterialType"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: MaterialType, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [24]:
X_train.shape

(25297,)

In [25]:
X_test.shape

(6325,)

In [26]:
from sklearn.feature_extraction.text import CountVectorizer

In [27]:
vector = CountVectorizer()
X_train_cv = vector.fit_transform(X_train)
X_train_cv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [28]:
X_test_cv = vector.transform(X_test)
X_test_cv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [29]:
from sklearn.naive_bayes import MultinomialNB

In [30]:
multi = MultinomialNB()
multi.fit(X_train_cv, y_train)
multi.score(X_test_cv, y_test)

0.8643478260869565